<center>
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DS0105EN-SkillsNetwork/labs/Module2/images/SN_web_lightmode.png" width="300" alt="cognitiveclass.ai logo">
</center>

#### Add your code below following the instructions given in the course

1.Create a markdown cell with the title of the notebook.
# Jupyter Assignment
## My first assignment

2. Create a markdown cell for an introduction
### This is an assignment submitted for a Peer Review

3. Create a markdown cell to list data science languages. 

Data science Languages
1. Python
2. R
3. SQL
4. Java
5. Julia
6. Scala
7. C/C++
8. JavaScript
9. Swift
10. Go
11. MATLAB
12. SAS

4. Create a markdown cell to list data science libraries. 

Libraries for Data Science
1. TensorFlow
2. SciPy
3. NumPy
4. Pandas
5. Matplotlib
6. Keras
7. Scikit-learn
8. PyTorch
9. Scrapy
10. BeautifulSoup

5. Create a markdown cell with a table of Data Science tools. 

<table style="width:20%">
<tr>
<th>Data Science Tools</th>
</tr>
<tr>
<td>Apache Spark</td>
</tr>
<tr>
<td>IBM SPSS</td>
</tr>
<tr>
<td>Jupyter Notebook</td>
</tr>
<tr>
<td>Julia</td>
</tr>
    <tr>
<td>Matlab</td>
</tr>
      <tr>
<td>Matplotlib</td>
</tr>
      <tr>
<td>NumPy</td>
</tr>
      <tr>
<td>Pandas</td>
</tr>
</table>


## Addition
#2 + 2

## Subtraction
#3 - 1

## Multiplication
#3 * 5

## Division
#20 / 5

## Exponentiation
#2 ** 4

## Integer remainder
#5 % 2

In [19]:
(2*3)+4

10

In [43]:
##convert minutes to hours
minutes=float(input())
minutes//60

 3

0.0

Exercise 2 - Create a markdown cell with the title of the notebook. 

Exercise 3 - Create a markdown cell for an introduction. 

Exercise 4 - Create a markdown cell to list data science languages. 

Exercise 5 - Create a markdown cell to list data science libraries. 

Exercise 6 - Create a markdown cell with a table of Data Science tools. 

Exercise 7 - Create a markdown cell introducing arithmetic expression examples. 

Exercise 8 - Create a code cell to multiply and add numbers.

Exercise 9 - Create a code cell to convert minutes to hours.

###Author:Samyak Jain